body{
 background-color: #28607F;
 text-align: center;
 font-family: Arial;
 padding:20px;
}

p{
  font-size: 4em

}

#title {
  font-size: 7em;


}

#subtitle{
  font-size: 1.5em;
}

#date{
 font-size: 1.25em;
}


a:link{
  color:black;
  text-decoration: none;
}
a:hover{
  color:red;

}

.picbanner img{
  left:0px;
  height:auto;
  width:100%;
  position:absolute;
}

nav{
  display:inline;
  font-size: 2em;
}
.navbar{
  border:3px solid black;
  display:inline-block;
  margin-left: -6px;
  margin-right: -6px;
  padding:4px;
}

#textplace{
  position: static;
  display: inline;
  margin-top: -20%
}