body{
 background-color: #D0EBFF;
 text-align: center;
 font-family: Arial;
 padding:20px;
 font-size: 1em;
}

p{
  font-size: 1.75em;

}

#title {
  font-size: 3em;
text-decoration: underline;


}

#subtitle{
  font-size: 2em;
}

#date{
 font-size: 1.75em;
}


a:link{
  color:black;
  text-decoration: none;
}
a:hover{
  color:red;

}

.picbanner img{
  left:0px;
  height:auto;
  width:100%;
  position:absolute;
}

nav{
  display:inline;
  font-size: 2em;
}
.navbar{
  border:3px solid black;
  display:inline-block;
  margin-left: -6px;
  margin-right: -6px;
  padding:4px;
}

#textplace{
  position: static;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;

}

